#banner {
    width: 100%;
    overflow: hidden;
    margin: 0%;
    position:relative;
    padding: 0%;
}

#action {
    position: absolute;
    bottom: 20px;
    margin: 20px;
    width: 60%;
    text-align: center;
    color: white;
}

.LandingPage {
    width: 100%;
}

nav {
    background: none;
    padding: 5px;
    top: 0;
    width: 100;
}

nav ul::after{
    content: "";
    display: block; 
    clear: both;
}

nav li{
    list-style-type: none;
    margin: 0 10px;
    float: right; 

}