body, main {
  display: flex;
  flex-direction: row;  
}

body {
    flex-direction: column;
}

main {
    flex-direction: row;
    flex: auto;
    justify-content: space-around;
}

.article {
    flex-grow: 2 1 0;
    overflow-y: auto
}

.aside {
    flex-grow: 1 1 0;
    overflow-y: auto;
}


.logo {
    font-size: 24px;
  }


